body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(94deg, #B53300, #f6925c);
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: #ffffff7d;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {

    color: #ff5e57; 
    font-family: 'Arial', sans-serif; 
    font-size: 50px; 

}

label {
    display: block;
    margin-bottom: 5px;
}

input::placeholder {
    color: #ff5e57; 
    font-style: italic;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 8px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.container button[type="submit"] {
    background-color: #d9534f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container button[type="submit"]:hover {
    background-color: #ff0000;
}
